body {
  background-color: #1c1917;
  box-sizing: border-box;
}
.mainDiv {
  background-color: #78716c;
  min-height: 100vh;
  padding: 10px;
  max-width: 1000px;
  margin: 10px auto;
}
.navDiv {
  max-width: 1000px;
  min-height: 10vh;
  background-color: #881337;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading {
  text-decoration: none;
  margin-left: 20px;
  font-family: cursive;
  color: #4c1d95;
  font-size: 24px;
  letter-spacing: 10px;
  padding: 10px;
  border-radius: 20px;
  font-weight: bolder;
  background-image: linear-gradient(to right, red, yellow);
}
.navLogin {
  margin-right: 20px;
}
.navLogin div {
  display: flex;
  gap: 20px;
  font-family: sans-serif;
  font-size: 16px;
}
.link {
  text-decoration: none;
  gap: 20px;
  font-weight: bold;
  color: yellow;
  cursor: pointer;
  transition: 0.5s;
}
.link:hover {
  color: white;
}

.main {
  background-color: #881337;
  min-height: 100vh;
}
