.factForm {
  display: flex;
  flex-direction: column;
  width: 800px;
  /* padding: 10px 30px; */
  margin: 20px auto;
  /* margin-right: 20px; */
  border-radius: 30px;
  background-color: #3b404b;
  gap: 20px;
}
.factForm select,
button {
  height: 40px;
  background-color: #7f8082;
  border: none;
}
.factForm textarea {
  border: none;
  background-color: #7f8082;
  height: 100px;
  overflow: hidden;
}

.factForm input {
  background-color: #7f8082;
}

.factForm input::placeholder {
  color: rgba(0, 0, 0, 0.267);
}
.btn {
  font-family: 'Coiny', sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  padding-top: 5px;
  background-color: blue;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}
.btnDiv {
  display: flex;
  justify-content: space-around;
}

.btnDisabled {
  font-family: 'Coiny', sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  padding-top: 5px;
  background-color: blue;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
  cursor: not-allowed;
  opacity: 0.2;
}
